.mlb-game-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.mlb-score-graphic{
    display:flex;
    flex-direction:row;
    align-items: center;
    font-size:42px;
    font-weight:bold;
    font-family: "Bebas Neue", sans-serif;
    margin-top:10px;
}

.mlb-mid-score{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.mlb-side-view{
    background-color:#333333;
    width:40vh;
    height:50vh;
}

.mlb-score-box{
    background-color: black;
    width:100%;
    display:flex;
    flex-direction:row;
    margin:5px;
}

.score-bug-logo{
    object-fit: contain;
    width:4vh;
    height:4vh;
}

.mlb-score-bug{
    display:flex;
    flex-direction:column;
    font-size:18px;
    width:20vh;
    font-weight:bold;
    border-top:1px solid gray;
}

.score-bug-section{
    display:flex;
    flex-direction:row;
    align-items: center;
    height:5vh;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.mlb-box-score{
    width:100%;
    display:flex;
    align-items: baseline;
    font-family: "Bebas Neue", sans-serif;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
}

.mlb-score-inning{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    text-align:center;
    align-self:center;
    align-items:center;
    width:10%;
    border-left: 1px solid gray;
}