.logo-img{
    width:10vh;
    height:10vh;
    object-fit: contain;
    margin:20px;
    box-shadow:1px 1px 1px 1px black;
    padding:5px;
}

.sport-menu{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width:100%;
    margin:auto;
    cursor:pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px black;
    border-radius:10px;
}

.sport-menu:hover{
    box-shadow:none;
}

.sport-menu:hover p{
    opacity:0.5
}


.menu-title{
    display:flex;
    width:100%;
    flex-direction:column;
    align-self: flex-start;
    font-family: "Bebas Neue", sans-serif;
    font-size:50px;
    padding-left:10px;
    box-shadow:0px 0px 0px 0px black;
}