.box-score-heading-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-family: "Bebas Neue", sans-serif;
    font-size:1vw;
}

.box-score-header-primary{
    display:flex;
    width:8vw;
    height:5vh;
    justify-content: center;
    align-items: center;
    border-left:2px solid gray;
}

.box-score-header-secondary{
    display:flex;
    width:3vw;
    height:5vh;
    justify-content: center;
    align-items: center;
    border-left:2px solid gray;
}

.box-score-primary{
    display:flex;
    width:8vw;
    height:5vh;
    justify-content: center;
    align-items: center;
    border-left:2px solid gray;
}

.box-score-secondary{
    display:flex;
    width:3vw;
    height:5vh;
    justify-content: center;
    align-items: center;
    border-left:2px solid gray;
}

.box-score-line-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid gray;
    font-family: "Bebas Neue", sans-serif;
    position:relative;
}

.box-score-container{
    background-color: rgba(100,100,100,0.3);
    padding:20px;
    display:flex;
    flex-direction:column;
    user-select:none;
}

.box-score-selector{
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: center;
}

.box-score-switch{
    width:50%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2vw;
    border-left:2px solid gray;
    border-top: 2px solid gray;
    cursor:pointer;
}

.box-score-background{
    display:flex;
    position:absolute;
    z-index:0;
    object-fit: contain;
    width:100%;
    height:100%;
    opacity:0.2;
}