

.scores-date-list{
    display:flex;
    flex-direction:row;
    overflow:scroll;
    scrollbar-width: none;
    font-family: "Bebas Neue", sans-serif;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-top:10px;
}

.date-list-item{
    font-size:28px;
    margin:5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height:100%;
    cursor:pointer;
    padding-left:15px;
    padding-right:15px;
}

.date-list-item:hover{
    background-color:rgba(200,200,200,0.3);
}

.date-list-item p {
    padding:10px;
}

.score-team-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    width:45vh;
    border-radius:10px;
    background-color:black;
    padding:5px;
}

.score-game-container{
    display:flex;
    flex-direction:column;
    border: 2px solid gray;
    justify-content: space-between;
    font-family: "Sporting", sans-serif;
    border-radius:10px;
    background-color:rgba(15,15,15,0.3);
    padding:10px;
    margin:10px;
    cursor:pointer;
}

.score-game-detail-container{
    border: 2px solid gray;
    background-color:rgba(75,75,75,0.7);
    margin:10px;
    display:flex;
    flex-direction:row;
    border-radius:10px;
    margin-right:50px;
}

.score-game-container:hover{
    border:2px solid white;
}

.game-info-container{
    display:flex;
    flex-direction:column;
    width:20vh;
    font-family: "Bebas Neue", sans-serif;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:1.5vw;
    justify-content: space-between;
}

.score-logo{
    width:15vh;
    height:15vh;
    object-fit:contain;
    border-radius:10px;
    padding:5px;
    z-index:2;
}


.corner-borders{
    display:'flex';
    height:'100%';
    margin:5px;
    z-index:0;
    position:relative;
    --psuedo-border-color:red;
}

.corner-borders span{
    width:100%;
    z-index:0;
}

.corner-borders::before{
    content:"";
    background-color:var(--psuedo-border-color);
    position:absolute;
    transform:translate(-5px,-5px);
    width:30px;
    height:30px;
    border-radius:10px 0 0 0;
    z-index:-1;
    border:1px solid white;
}

.corner-borders span::before{
    content:"";
    background-color:var(--psuedo-border-color);
    position:absolute;
    transform:translate(-5px,-2px);
    justify-content: center;
    width:30px;
    height:30px;
    border-radius:0 0 0 10px;
    z-index:-1;
    bottom:0;
    border:1px solid white;
}

.corner-borders::after{
    content:"";
    background-color:var(--psuedo-border-color);
    position:absolute;
    transform:translate(5px,-5px);
    justify-content: center;
    width:30px;
    height:30px;
    border-radius:0 10px 0 0;
    z-index:-1;
    right:0;
    border:1px solid white;
}

.corner-borders span::after{
    content:"";
    background-color:var(--psuedo-border-color);
    position:absolute;
    transform:translate(5px,-2px);
    justify-content: center;
    width:30px;
    height:30px;
    border-radius:0 0 10px 0;
    z-index:-1;
    bottom:0;
    right:0;
    border:1px solid white;
}


.score-game-list{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.game-prediction-container{
    display:flex;
    flex-direction:column;
    width:100%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin-top:10px;
    margin-bottom:10px;
}

.prediction-selector{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:5vh;
    font-weight:bold;
    cursor:pointer;
}

.prediction-selected{
    display:flex;
    align-items: center;
    justify-content: center;
    height:5vh;
    font-weight:bold;
}

.prediction-selector:hover{
    opacity:0.5;
}

.game-info-detail-section{
    display:flex;
    width:100%;
    align-items: center;
    padding:10px;
    font-size: 1vw;
}

.game-info-detail-section img{
    width:2vw;
    height:3vh;
    margin-right:10px;
}

.team-score-label{
    font-family: "Cal Sans", sans-serif;
    display:flex;
    align-items: center;
    justify-self: center;
    font-size:5vh;
}

.score-team-preview{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:10vh;
    align-items:center;
    font-size:5vh;
    margin-right:1vw;
    margin-left:1vw;
}

.score-team-wrapper{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    font-size:5vh;
}

.score-team-record{
    font-family: "Cal Sans", sans-serif;
    font-size:3vh;
    margin-left:1vw;
}
