.dropdown-text{
    padding:5px;
    font-size:3vh;
    padding-right:10px;
}

.dropdown{
    cursor: pointer;
    display:flex;
    flex-direction:row;
    border: 2px solid gray;
    margin-right:20px;
    align-items: center;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    box-shadow: 2px 2px rgba(200,200,200,0.3);
    font-size:3vw;
    width:10vw;
}

.dropdown img {
    width:15px;
    height:15px;
    align-items: center;
    justify-content: center;
}

.dropdown-item{
    cursor:pointer;
}

.dropdown-item:hover{
    opacity:0.3;
}

.dropdown-menu{
    position:absolute;
    z-index:3;
    background-color:black;
    border: 2px solid gray;
    font-size: 2vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:2px;
    height:30vh;
    overflow:scroll;
}